@model GurventVantilator.Application.DTOs.ProductDto

<div class="it-shop-details__area pt-120 pb-95">
    <div class="container">
        <div class="it-shop-details__top-wrap pt-120 mb-120">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="it-shop-details__wrapper">
                        <div class="it-shop-details__tab-content-box mb-20">
                            <div class="tab-content" id="nav-tabContent">
                                @if (!string.IsNullOrEmpty(Model.Image1Path))
                                {
                                    <div class="tab-pane fade show active" id="nav-one" role="tabpanel"
                                        aria-labelledby="nav-one-tab">
                                        <div class="it-shop-details__tab-big-img">
                                            <img src="http://admin.gurvent.firatramazano.com/@Model.Image1Path" alt="">
                                        </div>
                                    </div>
                                }
                                
                               @if (!string.IsNullOrEmpty(Model.Image2Path))
                                {
                                    <div class="tab-pane fade" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab">
                                        <div class="it-shop-details__tab-big-img">
                                            <img src="http://admin.gurvent.firatramazano.com/@Model.Image2Path" alt="">
                                        </div>
                                    </div>
                                }

                                @if (!string.IsNullOrEmpty(Model.Image3Path))
                                {
                                    <div class="tab-pane fade" id="nav-three" role="tabpanel"
                                        aria-labelledby="nav-three-tab">
                                        <div class="it-shop-details__tab-big-img">
                                            <img src="http://admin.gurvent.firatramazano.com/@Model.Image3Path" alt="">
                                        </div>
                                     </div>
                                }
                                
                                @if (!string.IsNullOrEmpty(Model.Image4Path))
                                {
                                    <div class="tab-pane fade" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab">
                                        <div class="it-shop-details__tab-big-img">
                                            <img src="http://admin.gurvent.firatramazano.com/@Model.Image4Path" alt="">
                                        </div>
                                    </div>
                                }
                                
                                @if (!string.IsNullOrEmpty(Model.Image5Path))
                                {
                                    <div class="tab-pane fade" id="nav-four4" role="tabpanel"
                                        aria-labelledby="nav-four-tab">
                                        <div class="it-shop-details__tab-big-img">
                                            <img src="http://admin.gurvent.firatramazano.com/@Model.Image5Path" alt="">
                                        </div>
                                    </div>
                                }
                                
                            </div>
                        </div>
                        <div class="it-shop-details__tab-btn-box">
                            <nav>
                                <div class="nav nav-tab justify-content-center" id="nav-tab" role="tablist">
                                    <button class="nav-links active" id="nav-one-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-one" type="button" role="tab" aria-controls="nav-one"
                                        aria-selected="true">
                                        <img src="http://admin.gurvent.firatramazano.com/@Model.Image1Path" alt="">
                                    </button>
                                    @if (!string.IsNullOrEmpty(Model.Image2Path))
                                    {
                                        <button class="nav-links" id="nav-two-tab" 
                                                data-bs-toggle="tab" data-bs-target="#nav-two"
                                                type="button" role="tab" aria-controls="nav-two">
                                            <img src="http://admin.gurvent.firatramazano.com/@Model.Image2Path" alt="">
                                        </button>
                                    }

                                    @if (!string.IsNullOrEmpty(Model.Image3Path))
                                    {
                                        <button class="nav-links" id="nav-three-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-three" type="button" role="tab" aria-controls="nav-three"
                                            aria-selected="false">
                                            <img src="http://admin.gurvent.firatramazano.com/@Model.Image3Path" alt="">
                                        </button>
                                    }

                                    @if (!string.IsNullOrEmpty(Model.Image4Path))
                                    {
                                        <button class="nav-links" id="nav-four-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-four" type="button" role="tab" aria-controls="nav-four"
                                            aria-selected="false">
                                            <img src="http://admin.gurvent.firatramazano.com/@Model.Image4Path" alt="">
                                        </button>
                                    }
                              
                                    @if (!string.IsNullOrEmpty(Model.Image5Path))
                                    {
                                        <button class="nav-links" id="nav-four4-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-four4" type="button" role="tab" aria-controls="nav-four4"
                                            aria-selected="false">
                                            <img src="http://admin.gurvent.firatramazano.com/@Model.Image5Path" alt="">
                                        </button>
                                    }
                                    
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <div class="it-shop-details__right-wrap">
                        <h3 class="it-shop-details__title-sm mb-30">@Model.Name </h3>
                        <div class="it-shop-details__price d-flex align-items-center">
                            <div>Santrifuj Fanlar</div>
                            <span>@Model.Code</span>
                            <div class="it-shop-details__ratting">
                                <i class="flaticon-star"></i>
                                <span>
                                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.4593 4.99287L9.69979 7.68284L10.3515 11.4821C10.3798 11.6482 10.3116 11.8161 10.1751 11.9154C10.0981 11.9716 10.0064 12 9.91465 12C9.84421 12 9.77333 11.9832 9.70865 11.9491L6.29656 10.1553L2.88492 11.9486C2.73607 12.0275 2.55488 12.0146 2.41843 11.9149C2.28198 11.8157 2.21376 11.6478 2.24211 11.4817L2.89378 7.6824L0.133811 4.99287C0.0133114 4.87502 -0.0305468 4.69871 0.0217287 4.53878C0.0740042 4.37885 0.212667 4.26145 0.379683 4.23709L4.19358 3.68332L5.89918 0.226933C6.04847 -0.0756445 6.54465 -0.0756445 6.69394 0.226933L8.39954 3.68332L12.2134 4.23709C12.3805 4.26145 12.5191 4.37841 12.5714 4.53878C12.6237 4.69915 12.5798 4.87458 12.4593 4.99287Z"
                                            fill="#F1A300" />
                                    </svg>
                                    Endüstriyel Havalandırma
                                </span>
                            </div>
                        </div>
                        <div class="it-shop-details__quantity-wrap">
                            <div class="it-shop-details__quantity-box d-flex align-items-center mb-30">
                                <a class="it-btn-orange w-100" href="@Url.Action("Index", "Contact")">
                                    <span>
                                        <span class="text-1">SATIŞ EKİBİYLE İLETİŞİME GEÇİN</span>
                                        <span class="text-2">SATIŞ EKİBİYLE İLETİŞİME GEÇİN</span>
                                    </span>
                                </a>
                                @* <div class="it-shop-details__quantity">
                                    <div class="cart-minus"><i class="fal fa-minus"></i></div>
                                    <input type="text" value="1">
                                    <div class="cart-plus"><i class="fal fa-plus"></i></div>
                                </div>
                                <div class="it-shop-details__btn">
                                    <a class="it-btn-orange" href="@Url.Action("Index", "Contact")">
                                        <span>
                                            <span class="text-1">SATIŞ EKİBİYLE İLETİŞİME GEÇİN</span>
                                            <span class="text-2">SATIŞ EKİBİYLE İLETİŞİME GEÇİN</span>
                                        </span>
                                    </a>
                                </div> *@
                            </div>
                            <div class="it-shop-details__text pb-10">
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                            <div class="it-shop-details__icon mb-40">
                                <a target="_blank"
                                    href="https://admin.gurvent.firatramazano.com/@Model.DataSheetPath"><i
                                        class="fa-regular fa-file-pdf"></i></a>
                                @if (@Model.Model3DPath != null)
                                {
                                    <a href="https://admin.gurvent.firatramazano.com/@Model.Model3DPath">

                                    <i class="fa-solid fa-cube"></i></a>
                                }
                            </div>
                            @* <div class="it-shop-details__social">
                                <span>Share with friends:</span>
                                <a href="#">
                                    <span>
                                        <svg width="12" height="16" viewBox="0 0 12 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.82727 6.83333C1.14284 6.83333 1 6.96763 1 7.61111V8.77778C1 9.42126 1.14284 9.55556 1.82727 9.55556H3.48182V14.2222C3.48182 14.8657 3.62466 15 4.30909 15H5.96364C6.64807 15 6.79091 14.8657 6.79091 14.2222V9.55556H8.64871C9.1678 9.55556 9.30155 9.4607 9.44416 8.99145L9.7987 7.82478C10.043 7.02095 9.89246 6.83333 9.00326 6.83333H6.79091V4.88889C6.79091 4.45933 7.16129 4.11111 7.61818 4.11111H9.97273C10.6572 4.11111 10.8 3.97681 10.8 3.33333V1.77778C10.8 1.1343 10.6572 1 9.97273 1H7.61818C5.33373 1 3.48182 2.74111 3.48182 4.88889V6.83333H1.82727Z"
                                                stroke="currentcolor" stroke-width="1.5" stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                </a>
                                <a href="#">
                                    <span>
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M4.41177 0H0L5.23083 6.87316L0.334618 12.6389H2.59681L6.29998 8.27809L9.58823 12.5988H14L8.6172 5.52593L8.62673 5.53813L13.2614 0.0802914H10.9992L7.55741 4.13336L4.41177 0ZM2.43522 1.20371H3.80866L11.5648 11.395H10.1913L2.43522 1.20371Z"
                                                fill="currentcolor" />
                                        </svg>
                                    </span>
                                </a>
                                <a href="#">
                                    <span>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M16.9989 10.0113C16.2575 9.87227 15.4949 9.7998 14.7168 9.7998C10.435 9.7998 6.62665 11.9938 4.19922 15.3997M14.5997 3.39941C12.0962 6.33329 8.33416 8.19931 4.12763 8.19931C3.05145 8.19931 2.00436 8.07718 1 7.84627M11.0941 17.0005C11.2946 16.0293 11.3999 15.0235 11.3999 13.9931C11.3999 8.94036 8.86738 4.47788 5 1.80078M16.9997 8.99983C16.9997 13.418 13.418 16.9997 8.99983 16.9997C4.58165 16.9997 1 13.418 1 8.99983C1 4.58165 4.58165 1 8.99983 1C13.418 1 16.9997 4.58165 16.9997 8.99983Z"
                                                stroke="currentcolor" stroke-width="1.5" stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                </a>
                                <a href="#">
                                    <span>
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12.0586 4.94727C12.6109 4.94727 13.0586 4.49955 13.0586 3.94727C13.0586 3.39498 12.6109 2.94727 12.0586 2.94727V4.94727ZM12.0496 2.94727C11.4973 2.94727 11.0496 3.39498 11.0496 3.94727C11.0496 4.49955 11.4973 4.94727 12.0496 4.94727V2.94727ZM8 14C6.32181 14 5.16377 13.9979 4.2928 13.8808C3.45059 13.7675 3.02803 13.5636 2.73223 13.2678L1.31802 14.682C2.04735 15.4113 2.96231 15.7199 4.0263 15.8629C5.06152 16.0021 6.37835 16 8 16V14ZM0 8C0 9.62165 -0.00212373 10.9385 0.137058 11.9737C0.280107 13.0377 0.588687 13.9526 1.31802 14.682L2.73223 13.2678C2.43644 12.972 2.23246 12.5494 2.11922 11.7072C2.00212 10.8362 2 9.67819 2 8H0ZM14 8C14 9.67819 13.9979 10.8362 13.8808 11.7072C13.7675 12.5494 13.5636 12.972 13.2678 13.2678L14.682 14.682C15.4113 13.9526 15.7199 13.0377 15.8629 11.9737C16.0021 10.9385 16 9.62165 16 8H14ZM8 16C9.62165 16 10.9385 16.0021 11.9737 15.8629C13.0377 15.7199 13.9526 15.4113 14.682 14.682L13.2678 13.2678C12.972 13.5636 12.5494 13.7675 11.7072 13.8808C10.8362 13.9979 9.67819 14 8 14V16ZM8 2C9.67819 2 10.8362 2.00212 11.7072 2.11922C12.5494 2.23246 12.972 2.43644 13.2678 2.73223L14.682 1.31802C13.9526 0.588687 13.0377 0.280107 11.9737 0.137058C10.9385 -0.00212373 9.62165 0 8 0V2ZM16 8C16 6.37835 16.0021 5.06152 15.8629 4.0263C15.7199 2.96231 15.4113 2.04735 14.682 1.31802L13.2678 2.73223C13.5636 3.02803 13.7675 3.45059 13.8808 4.2928C13.9979 5.16377 14 6.32181 14 8H16ZM8 0C6.37835 0 5.06152 -0.00212373 4.0263 0.137058C2.96231 0.280107 2.04735 0.588687 1.31802 1.31802L2.73223 2.73223C3.02803 2.43644 3.45059 2.23246 4.2928 2.11922C5.16377 2.00212 6.32181 2 8 2V0ZM2 8C2 6.32181 2.00212 5.16377 2.11922 4.2928C2.23246 3.45059 2.43644 3.02803 2.73223 2.73223L1.31802 1.31802C0.588687 2.04735 0.280107 2.96231 0.137058 4.0263C-0.00212373 5.06152 0 6.37835 0 8H2ZM10.3171 8.00134C10.3171 9.28031 9.28031 10.3171 8.00134 10.3171V12.3171C10.3849 12.3171 12.3171 10.3849 12.3171 8.00134H10.3171ZM8.00134 10.3171C6.72236 10.3171 5.68555 9.28031 5.68555 8.00134H3.68555C3.68555 10.3849 5.61779 12.3171 8.00134 12.3171V10.3171ZM5.68555 8.00134C5.68555 6.72236 6.72236 5.68555 8.00134 5.68555V3.68555C5.61779 3.68555 3.68555 5.61779 3.68555 8.00134H5.68555ZM8.00134 5.68555C9.28031 5.68555 10.3171 6.72236 10.3171 8.00134H12.3171C12.3171 5.61779 10.3849 3.68555 8.00134 3.68555V5.68555ZM12.0586 2.94727H12.0496V4.94727H12.0586V2.94727Z"
                                                fill="currentcolor" />
                                        </svg>
                                    </span>
                                </a>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="productdetails-tabs">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-12">
                        <div class="product-additional-tab">
                            <div class="pro-details-nav theme-bg-2 mb-30">
                                <ul class="nav nav-tab pro-details-nav-btn justify-content-center" id="myTabs"
                                    role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-links active" id="home-tab-1" data-bs-toggle="tab"
                                            data-bs-target="#home-1" type="button" role="tab" aria-controls="home-1"
                                            aria-selected="true"><span>Özellikler</span></button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-links" id="information-tab" data-bs-toggle="tab"
                                            data-bs-target="#additional-information" type="button" role="tab"
                                            aria-controls="additional-information" aria-selected="false"><span>Teknik
                                                Veriler
                                            </span></button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-links" id="performance-tab" data-bs-toggle="tab"
                                            data-bs-target="#performance" type="button" role="tab"
                                            aria-controls="performance"
                                            aria-selected="false"><span>Performans</span></button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-links" id="reviews-tab" data-bs-toggle="tab"
                                            data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews"
                                            aria-selected="false"><span>Ölçüler</span></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content it-content-tab" id="myTabContent-2">
                                <div class="tab-para tab-pane fade show active" id="home-1" role="tabpanel"
                                    aria-labelledby="home-tab-1">
                                    <div class="it-sv-details-content mb-40">
                                        <h5 class="it-inner-title">@Model.ContentTitle</h5>
                                        <p>@Model.ContentDescription</p>
                                    </div>
                                    <div class="it-sv-details-content">
                                        <h5 class="it-inner-title pb-10">Başlıca Özellikler</h5>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="it-sv-details-list mb-60">
                                                    <ul>
                                                    @foreach(var item in Model.ContentFeatures)
                                                    {
                                                        <li>
                                                            <span>
                                                                <svg width="20" height="20" viewBox="0 0 20 20"
                                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <mask id="mask0_2241_2446"
                                                                        style="mask-type:luminance"
                                                                        maskUnits="userSpaceOnUse" x="0" y="0"
                                                                        width="20" height="20">
                                                                        <path d="M20 0H0V20H20V0Z" fill="white" />
                                                                    </mask>
                                                                    <g mask="url(#mask0_2241_2446)">
                                                                        <path
                                                                            d="M10.7148 0.513672L11.4571 2.94776C12.6555 6.87762 15.8995 9.69541 19.75 10.1512C15.9196 10.5053 12.6638 13.2798 11.494 17.1865L10.7148 19.7888"
                                                                            stroke="#E03B3B" />
                                                                        <path d="M19.5833 10.1641H0" stroke="#E03B3B" />
                                                                    </g>
                                                                </svg>
                                                            </span>
                                                            <p><b>@item.Key</b> – @item.Value</p>
                                                        </li>
                                                    }
                                                      
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="it-sv-details-content">
                                        <h5 class="it-inner-title pb-20">Neden Bizi Tercih Etmelisiniz?</h5>
                                        <div class="row gx-35">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="it-service-3-item mb-35">
                                                    <div
                                                        class="it-service-3-top-wrap d-flex align-items-center justify-content-between mb-25">
                                                        <div class="it-service-3-icon">
                                                            <span>
                                                                <svg width="38" height="45" viewBox="0 0 38 45"
                                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M37.559 7.87063L19.2866 0.0585862C19.1036 -0.0195287 18.8963 -0.0195287 18.7133 0.0585862L0.440995 7.87063C0.173524 7.98503 0 8.24741 0 8.53782V23.2771C0 28.6997 1.85993 33.6624 5.37871 37.6286C8.77034 41.4516 13.5635 44.0656 18.875 44.9893C18.9164 44.9964 18.9582 45 19 45C19.0418 45 19.0836 44.9964 19.125 44.9892C24.4365 44.0655 29.2297 41.4515 32.6213 37.6285C36.14 33.6623 38 28.6996 38 23.2771V8.53773C38 8.24741 37.8266 7.98494 37.559 7.87063ZM36.5449 23.2771C36.5449 33.3689 29.3365 41.6829 19 43.5371C8.66348 41.6829 1.45513 33.3689 1.45513 23.2771V9.0164L19 1.51546L36.5449 9.0164V23.2771ZM18.7134 4.2004L3.91667 10.5264C3.64919 10.6409 3.47567 10.9032 3.47567 11.1936V23.1294C3.47567 27.5546 4.99373 31.605 7.86589 34.8423C10.6332 37.9615 14.5429 40.0942 18.875 40.8474C18.9163 40.8546 18.9581 40.8582 18.9999 40.8582C19.0417 40.8582 19.0835 40.8546 19.1249 40.8474C23.4569 40.0941 27.3666 37.9614 30.1339 34.8423C33.0061 31.605 34.5241 27.5547 34.5241 23.1294V11.1936C34.5241 10.9033 34.3507 10.6409 34.0832 10.5264L19.2866 4.2004C19.1037 4.1222 18.8963 4.1222 18.7134 4.2004ZM33.0691 11.6722V23.1293C33.0691 31.2254 27.2902 37.897 19 39.3951C10.7098 37.897 4.93089 31.2254 4.93089 23.1293V11.6722L19 5.65719L33.0691 11.6722ZM17.3507 10.1129C17.1735 10.2452 17.0164 10.364 16.8753 10.4706C16.3175 10.8921 16.0374 11.1037 15.7932 11.1925C15.5489 11.2812 15.198 11.2986 14.4991 11.3334C14.3223 11.3422 14.1255 11.3519 13.9045 11.3642C12.6742 11.4324 11.6588 12.2824 11.3777 13.4793C11.3272 13.6942 11.2834 13.8858 11.244 14.0579C11.0884 14.7387 11.0102 15.0803 10.8802 15.305C10.7501 15.5296 10.4927 15.768 9.97974 16.2427C9.84996 16.3627 9.70545 16.4966 9.54402 16.6477C8.64548 17.4888 8.41529 18.7912 8.97115 19.8883C9.07101 20.0853 9.16095 20.2603 9.24171 20.4174C9.56112 21.0387 9.72136 21.3504 9.76656 21.606C9.81176 21.8614 9.76802 22.2091 9.68098 22.9019C9.65897 23.0771 9.63442 23.2722 9.60814 23.4914C9.46199 24.7119 10.1247 25.8571 11.2574 26.341C11.4609 26.4279 11.6425 26.5043 11.8056 26.5729C11.824 26.5807 11.8414 26.5879 11.8593 26.5954L9.2961 32.0875C9.18169 32.3327 9.21343 32.6209 9.37831 32.8355C9.54311 33.05 9.81385 33.1555 10.081 33.1089L12.8914 32.619L14.3248 35.0798C14.4554 35.304 14.6954 35.4409 14.9537 35.4409C14.9647 35.4409 14.9757 35.4406 14.9868 35.4401C15.2576 35.4278 15.499 35.2665 15.6135 35.0214L18.1872 29.5066C18.5707 29.3923 18.8065 29.3351 19 29.3351C19.26 29.3351 19.5958 29.4384 20.2645 29.6443C20.3304 29.6646 20.4001 29.686 20.472 29.7081L22.3127 33.9714C22.4199 34.2196 22.6566 34.388 22.9269 34.4079C22.945 34.4094 22.963 34.4099 22.9811 34.4099C23.2314 34.4099 23.4658 34.2811 23.5992 34.0669L25.1035 31.6487L27.8984 32.2196C28.1637 32.2743 28.4376 32.1764 28.6087 31.9667C28.7798 31.757 28.8198 31.4698 28.7126 31.2215L26.6268 26.3903C26.6649 26.3742 26.7031 26.3579 26.7428 26.341C27.8755 25.8571 28.5382 24.7119 28.392 23.4914C28.3658 23.2721 28.3412 23.0771 28.3192 22.9019C28.2322 22.2091 28.1884 21.8614 28.2336 21.6059C28.2787 21.3505 28.4391 21.0386 28.7584 20.4173C28.8391 20.2602 28.9291 20.0853 29.0289 19.8883C29.5849 18.7913 29.3547 17.4891 28.4562 16.6477C28.2948 16.4966 28.1503 16.3628 28.0206 16.2428C27.5075 15.768 27.25 15.5297 27.12 15.3051C26.9899 15.0803 26.9119 14.7388 26.7562 14.0582C26.7167 13.886 26.673 13.6942 26.6224 13.4793C26.3415 12.2824 25.326 11.4323 24.0957 11.3642C23.8747 11.3519 23.6779 11.3422 23.5011 11.3334C22.8021 11.2986 22.4513 11.2812 22.207 11.1925C21.9627 11.1037 21.6826 10.8921 21.1249 10.4706C20.9838 10.3639 20.8267 10.2452 20.6495 10.1129C19.6627 9.37622 18.3373 9.37622 17.3507 10.1129ZM14.8825 33.1481L13.8948 31.4523C13.7416 31.1895 13.4406 31.0497 13.1405 31.102L11.2037 31.4397L13.1321 27.3078C13.2857 27.4886 13.4627 27.7619 13.7427 28.1944C13.8387 28.3427 13.9456 28.5079 14.0667 28.6928C14.5921 29.494 15.4642 29.9433 16.3817 29.9357L14.8825 33.1481ZM24.8986 30.1251C24.5999 30.0639 24.295 30.1953 24.1344 30.4535L23.0978 32.1199L22.1363 29.8927C22.8558 29.7603 23.5081 29.3413 23.9333 28.6927C24.0544 28.5079 24.1614 28.3426 24.2573 28.1943C24.637 27.6078 24.8275 27.3134 25.0267 27.1467C25.0972 27.0877 25.1838 27.0325 25.2943 26.9738L26.8248 30.5185L24.8986 30.1251ZM20.2459 11.6276C21.5925 12.6453 21.7412 12.6993 23.4286 12.7831C23.6029 12.7918 23.7968 12.8014 24.0147 12.8135C24.6036 12.8461 25.071 13.2374 25.2055 13.8104C25.2553 14.0224 25.2984 14.2114 25.3374 14.381C25.7132 16.024 25.7923 16.1608 27.0308 17.3069C27.1586 17.4253 27.3011 17.5572 27.4602 17.706C27.8903 18.1087 27.9963 18.7082 27.7301 19.2333C27.6317 19.4276 27.5431 19.6 27.4634 19.7549C26.6925 21.2546 26.6651 21.4101 26.8753 23.0824C26.897 23.2551 26.9212 23.4473 26.9471 23.6635C27.0171 24.2476 26.712 24.7749 26.1698 25.0065C25.9693 25.0922 25.7902 25.1674 25.6295 25.2351C24.0726 25.8896 23.9514 25.991 23.0349 27.4069C22.9402 27.5531 22.8349 27.7159 22.7154 27.8981C22.3926 28.3905 21.8194 28.5989 21.2546 28.4285C21.0457 28.3656 20.8601 28.3084 20.6934 28.2571C19.8863 28.0086 19.4431 27.8844 18.9999 27.8844C18.5567 27.8844 18.1136 28.0086 17.3064 28.2571C17.1397 28.3083 16.9541 28.3655 16.7453 28.4285C16.1808 28.5989 15.6073 28.3904 15.2845 27.8981C15.1651 27.7159 15.0597 27.5531 14.965 27.4069C14.0486 25.991 13.9273 25.8895 12.3704 25.2351C12.2096 25.1675 12.0307 25.0923 11.8301 25.0066C11.2879 24.7748 10.9829 24.2477 11.0528 23.6635C11.0787 23.4473 11.1029 23.2551 11.1246 23.0825C11.3348 21.4101 11.3074 21.2546 10.5364 19.7549C10.4568 19.6 10.3681 19.4276 10.2697 19.2332C10.0036 18.7082 10.1095 18.1087 10.5397 17.706C10.6988 17.557 10.8413 17.4251 10.9693 17.3068C12.2077 16.1607 12.2868 16.024 12.6626 14.3808C12.7015 14.2111 12.7446 14.0222 12.7943 13.8103C12.9288 13.2374 13.3963 12.8461 13.9853 12.8135C14.2032 12.8014 14.3971 12.7918 14.5713 12.7831C16.2587 12.6993 16.4074 12.6453 17.754 11.6276C17.8931 11.5224 18.0479 11.4054 18.2226 11.2749C18.6947 10.9223 19.305 10.9223 19.7772 11.2749C19.952 11.4054 20.1068 11.5224 20.2459 11.6276ZM12.6059 19.7489C12.6059 23.2662 15.4742 26.1276 19 26.1276C22.5258 26.1276 25.3941 23.2662 25.3941 19.7489C25.3941 16.2316 22.5258 13.3702 19 13.3702C15.4742 13.3702 12.6059 16.2316 12.6059 19.7489ZM23.939 19.7489C23.939 22.4656 21.7234 24.676 19 24.676C16.2766 24.676 14.061 22.4657 14.061 19.7489C14.061 17.0321 16.2767 14.8219 19 14.8219C21.7233 14.8219 23.939 17.0321 23.939 19.7489ZM18.1684 20.1837L20.8297 17.7744C21.1272 17.505 21.5873 17.5271 21.8574 17.8241C22.1275 18.1208 22.1052 18.5799 21.8076 18.8493L18.633 21.7233C18.4941 21.8492 18.319 21.9116 18.1442 21.9116C17.9576 21.9116 17.7713 21.8404 17.6296 21.699L16.167 20.2397C15.8828 19.9563 15.8828 19.4968 16.167 19.2134C16.4512 18.9299 16.9118 18.93 17.1959 19.2134L18.1684 20.1837Z"
                                                                        fill="#E03B3B" />
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="it-service-3-content">
                                                        <h4 class="it-service-3-title mb-10">Güvenilir Kalite</h4>
                                                        <p class="mb-0">Sektör lideri performans ve koruma.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="it-service-3-item mb-35">
                                                    <div
                                                        class="it-service-3-top-wrap d-flex align-items-center justify-content-between mb-25">
                                                        <div class="it-service-3-icon">
                                                            <span>
                                                                <svg width="42" height="45" viewBox="0 0 42 45"
                                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                                        d="M7.64997 19.2942V21.4652C7.64997 21.7177 7.50116 21.9464 7.27035 22.0485C7.03953 22.1505 6.77031 22.1066 6.58382 21.9365L0.208062 16.1231C0.0755431 16.0023 0 15.8312 0 15.6518C0 15.4723 0.0755431 15.3012 0.208062 15.1804L6.58382 9.36701C6.77031 9.19694 7.03953 9.15304 7.27035 9.25515C7.50116 9.35718 7.64997 9.58591 7.64997 9.83842V12.4552C10.4471 12.7716 12.9924 13.9198 15.0331 15.6468C16.4293 15.4744 17.6796 14.3336 17.6796 12.6762C17.6796 12.4578 17.7205 12.2488 17.7951 12.0567V7.76778H15.0711C14.8184 7.76778 14.5895 7.61821 14.4878 7.38665C14.3862 7.155 14.4309 6.88518 14.6019 6.69881L20.5587 0.206326C20.6793 0.0748786 20.8496 0 21.0279 0C21.2063 0 21.3765 0.0748786 21.4972 0.206326L27.4539 6.69881C27.6249 6.88518 27.6696 7.155 27.568 7.38665C27.4663 7.61821 27.2374 7.76778 26.9847 7.76778H24.2607V12.0567C24.3353 12.2488 24.3762 12.4578 24.3762 12.6762C24.3762 14.3145 25.5978 15.4479 26.9745 15.6404C29.0139 13.917 31.5563 12.7713 34.35 12.4552V9.83842C34.35 9.58591 34.4988 9.35718 34.7297 9.25515C34.9605 9.15304 35.2297 9.19694 35.4162 9.36701L41.7919 15.1804C41.9245 15.3012 42 15.4723 42 15.6518C42 15.8312 41.9245 16.0023 41.7919 16.1231L35.4162 21.9365C35.2297 22.1066 34.9605 22.1505 34.7297 22.0485C34.4988 21.9464 34.35 21.7177 34.35 21.4652C34.35 21.4652 34.35 20.0841 34.35 19.3699C34.3069 19.4252 34.26 19.4785 34.2091 19.5294C32.3308 21.4093 33.6643 24.6302 36.3201 24.6302C37.2684 24.6302 38.0321 25.3976 38.0321 26.3437V29.6192C38.0321 30.5653 37.2684 31.3327 36.3201 31.3327C33.6643 31.3327 32.3308 34.5535 34.2091 36.4335C34.8771 37.102 34.8771 38.1894 34.2091 38.858L31.8951 41.1739C31.2273 41.8423 30.1407 41.8423 29.4728 41.1739C27.5945 39.2939 24.3762 40.6285 24.3762 43.2866C24.3762 44.2357 23.6096 45 22.6643 45H19.3915C18.4462 45 17.6796 44.2357 17.6796 43.2866C17.6796 40.6253 14.463 39.2924 12.583 41.1739C11.9148 41.8427 10.8308 41.8427 10.1627 41.1741L7.84666 38.858C7.1787 38.1894 7.1787 37.102 7.84666 36.4335C9.72495 34.5535 8.39312 31.3327 5.73573 31.3327C4.79044 31.3327 4.02381 30.5653 4.02381 29.6192V26.3437C4.02381 25.3976 4.79044 24.6302 5.73573 24.6302C8.39312 24.6302 9.72495 21.4093 7.84666 19.5294C7.77294 19.4557 7.70741 19.3769 7.64997 19.2942ZM16.134 16.6861C16.7536 17.3379 17.3104 18.0498 17.7951 18.8123V15.6105C17.3312 16.0942 16.7584 16.4607 16.134 16.6861ZM17.7951 21.6012C17.7077 21.3812 17.6143 21.1642 17.5151 20.9505C16.7727 19.3512 15.7053 17.9337 14.398 16.7827C12.3867 15.0119 9.80714 13.8721 6.96836 13.6732C6.6346 13.6498 6.37575 13.3719 6.37575 13.0371V11.2819L1.58322 15.6518L6.37575 20.0216V18.2026C6.37575 18.0208 6.45339 17.8475 6.589 17.7265C6.72462 17.6056 6.90537 17.5483 7.08586 17.5691C7.44209 17.6102 7.79178 17.6728 8.13363 17.7554C11.3569 18.5347 13.8834 21.1014 14.607 24.3486C14.7438 24.963 14.8163 25.6018 14.8166 26.2575C14.8166 26.2575 14.8719 31.7431 14.8719 31.7432C15.4263 32.5479 16.0081 33.1977 16.6176 33.7046C16.8371 33.8747 17.0666 34.0324 17.3049 34.1768C17.4645 34.2733 17.628 34.3639 17.7951 34.4481V21.6012ZM13.313 24.4149C12.7818 22.3215 11.3679 20.5808 9.49113 19.6126C10.9685 22.3004 9.09394 25.9055 5.73573 25.9055C5.49399 25.9055 5.29803 26.1017 5.29803 26.3437V29.6192C5.29803 29.8611 5.49399 30.0574 5.73573 30.0574C9.52727 30.0574 11.4277 34.6529 8.74763 37.3352C8.57661 37.5065 8.57661 37.785 8.74763 37.9561L11.0635 40.2721C11.2343 40.443 11.5112 40.443 11.682 40.2721C14.3643 37.5876 18.9538 39.4895 18.9538 43.2866C18.9538 43.5293 19.1498 43.7247 19.3915 43.7247H22.6643C22.906 43.7247 23.102 43.5293 23.102 43.2866C23.102 39.4941 27.6938 37.5898 30.3738 40.2721C30.5448 40.4433 30.8232 40.4433 30.9942 40.2721L33.3082 37.9561C33.4792 37.785 33.4792 37.5065 33.3082 37.3352C30.6281 34.6529 32.5308 30.0574 36.3201 30.0574C36.5625 30.0574 36.7579 29.8611 36.7579 29.6192V26.3437C36.7579 26.1017 36.5625 25.9055 36.3201 25.9055C32.9474 25.9055 31.0693 22.2649 32.5868 19.573C30.695 20.5209 29.2614 22.2492 28.7075 24.3363C29.2346 25.4423 29.53 26.6789 29.53 27.9824C29.53 29.5414 29.1071 31.005 28.3704 32.2642C28.3693 32.266 28.3683 32.2677 28.3673 32.2695C26.8892 34.7916 24.1502 36.4908 21.0289 36.4908C20.5321 36.4908 20.0451 36.4477 19.5713 36.3652C19.5504 36.3615 19.5295 36.3578 19.5085 36.3541C19.0527 36.2895 18.6182 36.1892 18.2264 36.05C17.3919 35.7764 16.5878 35.3347 15.8202 34.6996C14.9638 34.0327 14.2376 33.2055 13.6869 32.2642C12.9504 31.005 12.5277 29.5414 12.5277 27.9824C12.5277 26.7097 12.8092 25.5009 13.313 24.4149ZM22.9865 12.1832V7.13013C22.9865 6.77797 23.2718 6.49248 23.6236 6.49248H25.5347L21.0279 1.58037L16.5211 6.49248H18.4323C18.7841 6.49248 19.0694 6.77797 19.0694 7.13013V12.1832V12.1995V21.4685V21.4921V34.9446C19.1976 34.9809 19.3273 35.0137 19.4583 35.043C19.4586 35.0431 19.4588 35.0431 19.4591 35.0432C19.5684 35.0676 19.6786 35.0894 19.7898 35.1088C19.8097 35.1123 19.8298 35.1157 19.8498 35.119C20.7221 35.2265 21.6757 35.1813 22.5046 35.0139C22.5049 35.0138 22.5053 35.0136 22.5057 35.0136C22.6685 34.9671 22.8288 34.9177 22.9865 34.8653V21.3498C22.9864 21.3421 22.9864 21.3345 22.9865 21.3267V12.1995C22.9864 12.1941 22.9864 12.1886 22.9865 12.1832ZM25.8804 16.6709C25.2721 16.4445 24.7144 16.0836 24.2607 15.6105V18.7252C24.7359 17.9897 25.2787 17.302 25.8804 16.6709ZM24.2607 34.3449C25.4631 33.7484 26.4576 32.9109 27.1834 31.7616V26.2611C27.1834 25.574 27.2627 24.9055 27.4123 24.264C28.1653 21.0366 30.703 18.4959 33.9273 17.7409C34.2497 17.6654 34.579 17.6078 34.9141 17.5691C35.0946 17.5483 35.2754 17.6056 35.411 17.7265C35.5466 17.8475 35.6242 18.0208 35.6242 18.2026V20.0216L40.4168 15.6518L35.6242 11.2819V13.0371C35.6242 13.3719 35.3654 13.6498 35.0316 13.6732C32.1942 13.872 29.6157 15.0108 27.6048 16.7802C26.3012 17.9272 25.2361 19.3393 24.4935 20.9322C24.4119 21.107 24.3343 21.284 24.2607 21.4632V34.3449Z"
                                                                        fill="#E03B3B" />
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="it-service-3-content">
                                                        <h4 class="it-service-3-title mb-10">Çok Yönlü Seçenekler</h4>
                                                        <p class="mb-0">Klasik tiplerden modern tiplere.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="it-service-3-item mb-35">
                                                    <div
                                                        class="it-service-3-top-wrap d-flex align-items-center justify-content-between mb-25">
                                                        <div class="it-service-3-icon">
                                                            <span>
                                                                <svg width="48" height="45" viewBox="0 0 48 45"
                                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M48 26.686C48 24.1582 46.4997 21.9799 44.3478 20.9854V20.407C44.3478 9.15442 35.2199 0 24 0C12.7801 0 3.65217 9.15442 3.65217 20.407V20.9854C1.50032 21.9799 0 24.1582 0 26.686C0 30.1483 2.80842 32.9651 6.26087 32.9651H8.34783C8.92408 32.9651 9.3913 32.4965 9.3913 31.9186V21.4535C9.3913 20.8756 8.92408 20.407 8.34783 20.407H6.26087C6.08477 20.407 5.9116 20.4191 5.73913 20.4335V20.407C5.73913 10.3088 13.931 2.09302 24 2.09302C34.069 2.09302 42.2609 10.3088 42.2609 20.407V20.4335C42.0884 20.4191 41.9152 20.407 41.7391 20.407H39.6522C39.0759 20.407 38.6087 20.8756 38.6087 21.4535V31.9186C38.6087 32.4965 39.0759 32.9651 39.6522 32.9651H41.7391C41.9152 32.9651 42.0884 32.953 42.2609 32.9386V34.5349C42.2609 37.9971 39.4524 40.814 36 40.814H28.1739C28.1739 39.6599 27.2379 38.7209 26.087 38.7209H20.8696C19.7186 38.7209 18.7826 39.6599 18.7826 40.814V42.907C18.7826 44.0611 19.7186 45 20.8696 45H26.087C27.2379 45 28.1739 44.0611 28.1739 42.907H36C40.6029 42.907 44.3478 39.1512 44.3478 34.5349V32.3867C46.4997 31.3922 48 29.2139 48 26.686ZM7.30435 22.5V30.8721H6.26087C3.95941 30.8721 2.08696 28.9942 2.08696 26.686C2.08696 24.3779 3.95941 22.5 6.26087 22.5H7.30435ZM20.8696 42.907V40.814H26.087L26.0877 41.8529C26.0877 41.8555 26.087 41.8579 26.087 41.8605C26.087 41.8631 26.0877 41.8655 26.0877 41.8681L26.0885 42.907H20.8696ZM41.7391 30.8721H40.6957V22.5H41.7391C44.0406 22.5 45.913 24.3779 45.913 26.686C45.913 28.9942 44.0406 30.8721 41.7391 30.8721ZM24 33.4884C30.3291 33.4884 35.4783 28.3243 35.4783 21.9767C35.4783 15.6292 30.3291 10.4651 24 10.4651C17.6709 10.4651 12.5217 15.6292 12.5217 21.9767C12.5217 24.0304 13.0705 26.0376 14.1129 27.809L13.0623 33.2909C12.9895 33.6716 13.1321 34.0615 13.4338 34.3044C13.6223 34.4562 13.8536 34.5349 14.087 34.5349C14.2271 34.5349 14.3677 34.5068 14.5007 34.4493L19.1856 32.4212C20.7045 33.1297 22.3217 33.4884 24 33.4884ZM15.484 31.7438L16.2386 27.8049C16.2891 27.5414 16.2371 27.2688 16.0929 27.043C15.1218 25.5228 14.6087 23.7708 14.6087 21.9767C14.6087 16.7833 18.8218 12.5581 24 12.5581C29.1782 12.5581 33.3913 16.7833 33.3913 21.9767C33.3913 27.1702 29.1782 31.3953 24 31.3953C22.4913 31.3953 21.0423 31.0402 19.6931 30.3399C19.4154 30.1955 19.0873 30.1835 18.7999 30.3085L15.484 31.7438ZM24 25.1163H18.7826C18.2064 25.1163 17.7391 24.6477 17.7391 24.0698C17.7391 23.4918 18.2064 23.0233 18.7826 23.0233H24C24.5763 23.0233 25.0435 23.4918 25.0435 24.0698C25.0435 24.6477 24.5763 25.1163 24 25.1163ZM17.7391 19.8837C17.7391 19.3058 18.2064 18.8372 18.7826 18.8372H29.2174C29.7936 18.8372 30.2609 19.3058 30.2609 19.8837C30.2609 20.4617 29.7936 20.9302 29.2174 20.9302H18.7826C18.2064 20.9302 17.7391 20.4617 17.7391 19.8837Z"
                                                                        fill="#E03B3B" />
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="it-service-3-content">
                                                        <h4 class="it-service-3-title mb-10">Özel Destek</h4>
                                                        <p class="mb-0">İhtiyaç duyukduğunda uzman müşteri hizmetleri
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="additional-information" role="tabpanel"
                                    aria-labelledby="information-tab">
                                    <div class="product__details-info table-responsive mb-35">
                                        <table class="table table-striped align-middle">
                                            <tbody>

                                                <!-- Temel Bilgiler -->
                                                <tr>
                                                    <td class="add-info fw-bold">Ürün Adı</td>
                                                    <td class="add-info-list">@Model.Name</td>
                                                </tr>
                                                <tr>
                                                    <td class="add-info fw-bold">Ürün Kodu</td>
                                                    <td class="add-info-list">@Model.Code</td>
                                                </tr>


                                                <!-- Hava Debisi -->
                                                @if (Model.AirFlow.HasValue)
                                                {
                                                    <tr>
                                                        <td class="add-info fw-bold">Hava Debisi</td>
                                                        <td class="add-info-list">@Model.AirFlow @Model.AirFlowUnit</td>
                                                    </tr>
                                                }


                                                <!-- Elektriksel Değerler -->
                                                @if (Model.Voltage.HasValue)
                                                {
                                                    <tr>
                                                        <td class="add-info fw-bold">Gerilim</td>
                                                        <td class="add-info-list">@Model.Voltage V</td>
                                                    </tr>
                                                }
                                                @if (Model.Frequency.HasValue)
                                                {
                                                    <tr>
                                                        <td class="add-info fw-bold">Frekans</td>
                                                        <td class="add-info-list">@Model.Frequency Hz</td>
                                                    </tr>
                                                }

                                                @if (!string.IsNullOrWhiteSpace(Model.SpeedControl))
                                                {
                                                    <tr>
                                                        <td class="add-info fw-bold">Hız Kontrolü</td>
                                                        <td class="add-info-list">@Model.SpeedControl</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="performance" role="tabpanel"
                                    aria-labelledby="performance-tab">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="it-cost-calculator-wrap gray-bg p-4 rounded bg-white">
                                                <!-- Air Flow -->
                                                <div class="it-cost-calculator-input-box mb-35">
                                                    <label>Hava Akışı</label>
                                                    <div class="d-flex align-items-center gap-2">
                                                        <input type="number" id="airFlowInput"
                                                            placeholder="Değer giriniz">
                                                        <div class="postbox__select">
                                                            <select id="airFlowUnit">
                                                                <option value="m³/h">m³/h</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="it-cost-calculator-wrap gray-bg p-4 rounded  bg-white">
                                                <!-- Pressure -->
                                                <div class="it-cost-calculator-input-box mb-35">
                                                    <label>Statik Basınç</label>
                                                    <div class="d-flex align-items-center gap-2">
                                                        <input type="number" id="pressureInput"
                                                            placeholder="Değer giriniz">
                                                        <div class="postbox__select">
                                                            <select id="pressureUnit">
                                                                <option value="Pa">Pa</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <canvas id="fanChart"></canvas>
                                    </div>
                                    <div id="warningBox" class="alert alert-warning mt-3 d-none" role="alert">
                                        ⚠️ <strong>Uyarı:</strong> Working Point fan eğrisi dışında! Bu noktada fan
                                        çalışamayabilir.
                                    </div>

                                </div>

                                 <div class="tab-pane fade" id="reviews" role="tabpanel"
                                    aria-labelledby="reviews-tab">
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="http://admin.gurvent.firatramazano.com/@Model.ScaleImagePath">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.2.1"></script>
    <script>
        Chart.register(window['chartjs-plugin-annotation']);

        const canvas = document.getElementById('fanChart');
        const warningBox = document.getElementById('warningBox');
        const airFlowInput = document.getElementById('airFlowInput');
        const pressureInput = document.getElementById('pressureInput');

        let fanData = [];
        let workingPoint = { x: 0, y: 0 };
        let chart = null;

        // 🔹 Veriyi Controller'dan çek
        async function loadFanData(productId) {
            try {
                const response = await fetch(`/Product/GetFanData?productId=${productId}`);
                const result = await response.json();

                if (!result.success || !result.data || result.data.length === 0) {
                    console.warn("Fan verisi bulunamadı.");
                    return [];
                }
                console.log(result.data);
                return result.data;
            } catch (err) {
                console.error("Fan datası alınamadı:", err);
                return [];
            }
        }

        // 🔹 Y interpolasyonu (çalışma noktası eğri dışında mı kontrolü için)
        function getInterpolatedY(x) {
            for (let i = 0; i < fanData.length - 1; i++) {
                const p1 = fanData[i], p2 = fanData[i + 1];
                if (x >= p1.x && x <= p2.x) {
                    const t = (x - p1.x) / (p2.x - p1.x);
                    return p1.y + t * (p2.y - p1.y);
                }
            }
            return null;
        }

        function isOutsideCurve(pt) {
            const yi = getInterpolatedY(pt.x);
            return (yi === null) || (pt.y > yi);
        }

        function updateAnnotations() {
            if (!chart) return;

            const outside = isOutsideCurve(workingPoint);
            warningBox.classList.toggle('d-none', !outside);

            chart.options.plugins.annotation.annotations = {
                wp: {
                    type: 'point',
                    xValue: workingPoint.x,
                    yValue: workingPoint.y,
                    radius: 7,
                    backgroundColor: outside ? '#ff6600' : '#0d2c6b',
                    borderColor: '#fff',
                    borderWidth: 2
                },
                v: {
                    type: 'line',
                    xMin: workingPoint.x,
                    xMax: workingPoint.x,
                    borderColor: '#0d2c6b',
                    borderWidth: 1,
                    borderDash: [4, 4]
                },
                h: {
                    type: 'line',
                    yMin: workingPoint.y,
                    yMax: workingPoint.y,
                    borderColor: '#0d2c6b',
                    borderWidth: 1,
                    borderDash: [4, 4]
                },
                lbl: {
                    type: 'label',
                    xValue: workingPoint.x + 10,
                    yValue: workingPoint.y + 20,
                    content: [`Working Point (${workingPoint.x}, ${workingPoint.y})`],
                    color: outside ? '#ff6600' : '#0d2c6b',
                    font: { size: 13, style: 'italic' },
                    textAlign: 'left'
                }
            };

            chart.update('none');
        }

        async function createChart(productId) {
            // 🔹 fanData'yı dinamik olarak al
            fanData = await loadFanData(productId);

            if (fanData.length === 0) {
                console.warn("Grafik çizimi için yeterli veri yok.");
                return;
            }

            // İlk noktayı varsayılan çalışma noktası yap
            @* workingPoint = fanData[Math.floor(fanData.length / 2)]; *@

                            if (chart) chart.destroy();

            chart = new Chart(canvas, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Fan Eğrisi',
                        data: fanData,
                        parsing: false,
                        borderColor: '#0d2c6b',
                        backgroundColor: 'rgba(0, 102, 204, 0.25)',
                        fill: true,
                        tension: 0.4,
                        pointRadius: 0
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    animation: false,
                    scales: {
                        x: {
                            type: 'linear',
                            title: { display: true, text: 'Debi (m³/h)' },
                            min: 0,
                            max: Math.ceil(Math.max(...fanData.map(p => p.x)) * 1.1)
                        },
                        y: {
                            title: { display: true, text: 'Basınç (Pa)' },
                            min: 0,
                            max: Math.ceil(Math.max(...fanData.map(p => p.y)) * 1.1)
                        }
                    },
                    plugins: {
                        legend: { display: false },
                        annotation: { annotations: {} }
                    }
                }
            });

            updateAnnotations();

            // 🔹 Canvas tıklama eventi
            canvas.addEventListener('click', (evt) => {
                const rect = chart.canvas.getBoundingClientRect();
                const scaleX = chart.width / rect.width;
                const scaleY = chart.height / rect.height;
                const xPixel = (evt.clientX - rect.left) * scaleX;
                const yPixel = (evt.clientY - rect.top) * scaleY;

                const ca = chart.chartArea;
                if (!ca || xPixel < ca.left || xPixel > ca.right || yPixel < ca.top || yPixel > ca.bottom) return;

                const x = chart.scales.x.getValueForPixel(xPixel);
                const y = chart.scales.y.getValueForPixel(yPixel);
                if (isNaN(x) || isNaN(y)) return;

                workingPoint = { x: Math.round(x), y: Math.round(y) };
                airFlowInput.value = workingPoint.x;
                pressureInput.value = workingPoint.y;
                updateAnnotations();
            });
        }

        // Giriş alanlarını izleyelim → grafik güncellensin
        [airFlowInput, pressureInput].forEach(input => {
            input.addEventListener('input', () => {
                const xVal = parseFloat(airFlowInput.value);
                const yVal = parseFloat(pressureInput.value);

                if (isNaN(xVal) || isNaN(yVal)) return;

                workingPoint = { x: xVal, y: yVal };
                updateAnnotations();
            });
        });

        // 🔹 Sekme açıldığında veya sayfa yüklendiğinde grafik başlat
        const perfTabBtn = document.getElementById('performance-tab');
        const perfPane = document.getElementById('performance');

        const productId = @Model.Id; // ✅ Razor modelden ID al

        if (perfTabBtn) {
            perfTabBtn.addEventListener('shown.bs.tab', () => {
                createChart(productId);
                setTimeout(() => chart && chart.resize(), 0);
            });
        }

        if (perfPane && perfPane.classList.contains('show')) {
            createChart(productId);
            setTimeout(() => chart && chart.resize(), 0);
        }
    </script>


    <style>
        #fanChart {
            width: 100%;
            height: 420px;
            cursor: crosshair;
        }
    </style>
}