@using GurventVantilator.Application.DTOs
@model IEnumerable<ProductCategoryDto>

@{
    ViewData["Title"] = "Ürün Kategori Yönetimi";
}

<div class="row">
    <div class="col">
        <div class="card card-modern">
            <div class="card-body">
                <div class="datatables-header-footer-wrapper mt-2">
                    <div class="datatable-header">
                        <div class="row align-items-center mb-3">
                            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                <a asp-action="Create"
                                    class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+ Ürün Kategori
                                    Ekle</a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list"
                        style="min-width: 550px;">
                        <thead>
                            <tr>

                                <th width="30" class="text-center">Id</th>
                                <th class="text-center">Ürün Kategori Adı</th>
                                <th class="text-center">Görsel</th>
                                <th class="text-center">Aktif</th>
                                <th width="30" class="text-center">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model == null || !Model.Any())
                            {
                                <tr>
                                    <td colspan="3" class="text-center text-muted">
                                        Hiç kayıt bulunamadı.
                                    </td>
                                </tr>
                            }
                            else
                            {
                                @foreach (ProductCategoryDto item in Model)
                                {
                                    <tr>
                                        <td class="text-center"><strong><a href="#">@item.Id</a></strong></td>
                                        <td class="text-center"><strong><a href="#">@item.Name</a></strong></td>
                                        <td class="text-center">
                                            @if (!string.IsNullOrEmpty(item.ImagePath))
                                            {
                                                <img src="@item.ImagePath" alt="Ürün Resmi" style="max-width:50px;"
                                                    class="img-thumbnail" />
                                            }
                                        </td>
                                        <td width="200" class="text-center">
                                            @if (item.IsActive)
                                            {
                                                <span class="badge bg-success">Aktif</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-danger">Pasif</span>
                                            }
                                        </td>
                                        <td width="200" class="text-center">
                                            <div class="btn-group d-flex" role="group">
                                                <a class="btn btn-primary btn-xs w-100 m-1 rounded" role="button"
                                                    asp-action="Edit" asp-route-productCategoryId="@item.Id">
                                                    <i class='far fa-edit'></i>
                                                    Düzenle
                                                </a>

                                                <a href="#deleteModal"
                                                    class="btn btn-danger btn-xs w-100 m-1 rounded modal-basic"
                                                    onclick="setDeleteProductCategoryId(@item.Id)">
                                                    <i class='far fa-trash-alt'></i> Sil
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <hr class="solid mt-5 opacity-4">
                    <div id="deleteModal" class="modal-block mfp-hide">
                        <section class="card">
                            <header class="card-header">
                                <h2 class="card-title">Ürün Kategori Silme</h2>
                            </header>
                            <div class="card-body">
                                <div class="modal-wrapper">
                                    <div class="modal-text">
                                        <p class="mb-0">Bu kategoriyi silmek istediğinize emin misiniz?</p>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <form id="Delete" asp-action="Delete" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="productCategoryId" id="productCategoryId" />
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="submit" class="btn btn-danger">Sil</button>
                                            <button type="button" class="btn btn-default modal-dismiss">Vazgeç</button>
                                        </div>
                                    </div>
                                </form>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/examples/examples.modals.js"></script>
    <script src="~/vendor/pnotify/pnotify.custom.js"></script>
    <script>
        function setDeleteProductCategoryId(productCategoryId) {
            document.getElementById("productCategoryId").value = productCategoryId;
        }
    </script>
}