@using GurventVantilator.Application.DTOs
@model IEnumerable<ServiceFaqDto>
@{
    ViewData["Title"] = "Sıkça Sorulan Sorular Yönetimi";
    var serviceId = ViewBag.ServiceId;
}

<div class="row">
    <div class="col">
        <div class="card card-modern">
            <div class="card-body">
                <div class="datatables-header-footer-wrapper mt-2">
                    <div class="datatable-header">
                        <div class="row align-items-center mb-3">
                            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                <a asp-action="Create" asp-route-serviceId="@serviceId"
                                    class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+ Soru
                                    Ekle</a>
                                <a asp-controller="Service" asp-action="Index"
                                    class="btn btn-warning btn-md font-weight-semibold btn-py-2 px-4">Servislere Dön</a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list"
                        style="min-width: 550px;">
                        <thead>
                            <tr>

                                <th class="text-center">ID</th>
                                <th class="text-center">Soru</th>
                                <th class="text-center">Cevap</th>
                                <th class="text-center">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model == null || !Model.Any())
                            {
                                <tr>
                                    <td colspan="4" class="text-center text-muted">
                                        Hiç kayıt bulunamadı.
                                    </td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="30" class="text-center"><strong><a href="#">@item.Id</a></strong></td>
                                        <td class="text-center"><strong><a href="#">@item.Question</a></strong></td>
                                        <td class="text-center">@item.Answer</td>
                                        <td width="200" class="text-center">
                                            <div class="btn-group d-flex" role="group">
                                                <a class="btn btn-primary btn-xs w-100 m-1 rounded" role="button"
                                                    asp-action="Edit" asp-route-serviceFaqId="@item.Id"
                                                    asp-route-serviceId="@serviceId"><i class='far fa-edit'></i> Düzenle</a>
                                                <a href="#deleteModal"
                                                    class="btn btn-danger btn-xs w-100 m-1 rounded modal-basic"
                                                    onclick="setDeleteServiceFaqId(@item.Id, @serviceId)">
                                                    <i class='far fa-trash-alt'></i> Sil
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            
                        </tbody>
                    </table>
                    <hr class="solid mt-5 opacity-4">
                    <div id="deleteModal" class="modal-block mfp-hide">
                        <section class="card">
                            <header class="card-header">
                                <h2 class="card-title">Soru Silme</h2>
                            </header>
                            <div class="card-body">
                                <div class="modal-wrapper">
                                    <div class="modal-text">
                                        <p class="mb-0">Bu soruyu silmek istediğinize emin misiniz?</p>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <form id="Delete" asp-action="Delete"
                                    method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="serviceFaqId" id="serviceFaqId" />
                                    <input type="hidden" name="serviceId" id="serviceId" />
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="submit" class="btn btn-danger">Sil</button>
                                            <button type="button" class="btn btn-default modal-dismiss">Vazgeç</button>
                                        </div>
                                    </div>
                                </form>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/examples/examples.modals.js"></script>
    <script src="~/vendor/pnotify/pnotify.custom.js"></script>
    <script>
        function setDeleteServiceFaqId(serviceFaqId, serviceId) {
            document.getElementById("serviceFaqId").value = serviceFaqId;
            document.getElementById("serviceId").value = serviceId;
        }
    </script>
}
